<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
	<article>I am studying at {{ college }} </article>
	<article>My hobby is {{ hobby }} </article>
	<article>Desc : {{ desc }}</article>
	<img src = "https://media.licdn.com/dms/image/C5103AQHglWiCSVrzEg/profile-displayphoto-shrink_200_200/0?e=1541635200&v=beta&t=Zue1uG8UR86Tc1Lmh9ESuaBexM8PWs-r954vkhNcbmQ" width="150" height="150">
	
	<h1>Teman sebelah kanan saya:</h1>
    <article>Nama : {{ tk_name }}</article>
    <article>NPM : {{ tk_npm }}</article>
    <article>I am {{ tk_age }} years old</article>
	<article>I am studying at {{ college }} </article>
	<article>My hobby is {{ tk_hobby }} </article>
	<article>Desc : {{ tk_desc }}</article>
	<img src = 'http://www.about.tarung2017.com/foto/528.jpg' width = "150" height = "150">
	
	<h1>Sebelah kiri saya tembok</h1>
	<article>Desc : temboknya berwarna putih</article>
	<img src = 'http://acepaints.acehardware.co.id/wp-content/uploads/2017/10/tembok-yang-masih-baru-510x340.jpg' width = "150" height = "150">
	
	
</body>
</html>
